@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model ForgotPasswordViewModel
@{
    ViewData["Title"] = @Localizer["PageTitle"];

    Layout = "~/Views/Shared/_Login.cshtml";
}

<div class="abs-fullscreen logout-screen">
    <div class="container vertical-center">
        <div class="row">
            <div class="col-md-4 center">
                <div class="panel panel-white" id="js-alerts">
                    <div class="panel-body">
                        <div class="login-box">
                            <a href="/" class="logo-name text-lg text-center m-b-20">Spine</a>
                            <p class="text-center m-t-md">@Localizer["Text"]</p>
                            <form asp-controller="Account" asp-action="ForgotPassword" method="post" class="m-t-md">
                                <div asp-validation-summary="All" class="text-danger"></div>

                                <div class="form-group">
                                    <input asp-for="Email" class="form-control" placeholder="@Localizer["Email"]" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>

                                <div class="form-group m-b-0">
                                    <button type="submit" class="btn btn-success btn-block">@Localizer["Submit"]</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}