<p>Beste gebruiker,</p>
<br />
<p>We hebben een verzoek ontvangen om je wachtwoord opnieuw in te stellen voor je Spine account:</p>
<br />
<p><b><!replace:email!></b></p><br />
<br />
<p>
    Maak je geen zorgen, we zijn er om je te helpen! <br />
    Klik eenvoudig op de knop hieronder om een nieuw wachtwoord in te stellen.
</p>

<p align="center" style="margin: 44px 0 50px 0;">
    <a href="<!replace:url!>" class="btn">Stel je wachtwoord opnieuw in</a>
</p>

<p align="center">Als je geen wachtwoordreset hebt aangevraagd, kan je deze mail veilig negeren. Alleen iemand met toegang tot je e-mailadres kan je wachtwoord opnieuw instellen.</p>