<p>Beste <!replace:preamble!> <!replace:firstName!> <!replace:lastName!>,</p>
<br />
<p>Er is een account voor je aangemaakt:</p>
<br />
<table>
    <tr>
        <td><b>E-mailadres: &nbsp;&nbsp;</b></td>
        <td><!replace:email!></td>
    </tr>
    <tr>
        <td><b>Wachtwoord: &nbsp;&nbsp;</b></td>
        <td><!replace:password!></td>
    </tr>
</table>
<br />
<br />
<p>
    Klik op de knop hieronder om naar Spine te gaan.
</p>

<p align="center" style="margin: 44px 0 50px 0;">
    <a href="<!replace:url!>" class="btn">Naar Spine</a>
</p>

<p align="center">Als je geen account hebt aangevraagd, dan kan je deze mail veilig negeren. Het is mogelijk dat dit account voor je is aangemaakt door iemand van het bedrijf waar je werkt.</p>