@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Changelog";
}

<style>
    @@media (max-width: 767.5px) {
        .table-responsive {
            margin: 0 !important;
        }
    }
</style>

<div id="main-wrapper">
    <div class="row">
        <div class="col-md-12">
            <div class="row list-header">
                <div class="col-md-12">
                    <h2>Changelog</h2>
                </div>
            </div>
        </div>
    </div>
</div>