@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer


@section Stylesheets {
    <environment names="Development">
        <link href="~/plugins/nestable/nestable.css" rel="stylesheet" type="text/css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/minified/nestable.min.css" asp-append-version="true" />
    </environment>
}

@section Scripts {
    <environment names="Development">
        <script src="~/plugins/nestable/jquery.nestable.js"></script>
        <script src="~/js/pages/DataIndex.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/minified/nestable.min.js" asp-append-version="true"></script>
        <script src="~/js/minified/DataIndex.min.js" asp-append-version="true"></script>
    </environment>
}

<div id="main-wrapper" style="display: none;">
    <div class="row">
        <div class="col-md-12">
            <div class="row list-header">
                <div class="col-md-12">
                    <h2 id="dataTitle"></h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-white">
                <div class="panel-heading clearfix">
                    <div class="row">
                        <div class="col-sm-6">
                            <a class="btn btn-success m-b-xs hidden" id="saveOrder">@Localizer["SaveOrder"]</a>
                        </div>
                        <div class="col-sm-6">
                            <a class="btn btn-default pull-right" href="~/data/add/@(ViewContext.RouteData.Values["id"])">@Localizer["AddItem"]</a>
                        </div>
                    </div>
                </div>

                <div class="panel-body">
                    <ul class="hidden">
                        <li>
                            <ol class="dd-list" id="cloneHeadListObject"></ol>
                        </li>
                        <li class="dd-item dd3-item hidden" id="cloneListObject">
                            <div class="dd-handle dd3-handle"></div><div class="dd3-content" id="dataItemTitle"><a href="/data/@(ViewContext.RouteData.Values["id"])/"></a></div>
                        </li>
                    </ul>

                    <div class="dd" id="nestable">
                        <ol class="dd-list dd-pages" id="dataItems"></ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="id" value="@(ViewContext.RouteData.Values["id"])" />