@using Microsoft.AspNetCore.Identity
@using Site.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="dropdown hidden-xs">
        <a class="dropdown-toggle" data-toggle="dropdown">
            <span class="user-name">@UserManager.GetUserName(User)<i class="fa fa-angle-down"></i></span>
            @*<img class="img-circle avatar" src="assets/images/avatar1.png" width="40" height="40" alt="">*@
        </a>
        <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm">
            <ul class="dropdown-menu dropdown-list" role="menu">
                <li role="presentation"><a href="~/account/edit"><i class="icon-user"></i>Edit account</a></li>
                <li role="presentation"><a href="~/account/password"><i class="icon-key"></i>Edit password</a></li>
                <li role="presentation" class="divider"></li>
                <li role="presentation"><button type="submit"><a><i class="icon-logout m-r-xs"></i>Log out</a></button></li>
            </ul>
        </form>
    </li>
}
else
{
    @*<ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
    </ul>*@
}
