@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["PageTitle"];

    Layout = "~/Views/Shared/_Login.cshtml";
}

<div class="abs-fullscreen logout-screen">
    <div class="container vertical-center">
        <div class="row">
            <div class="col-md-4 center">
                <div class="panel panel-white" id="js-alerts">
                    <div class="panel-body">
                        <div class="login-box">
                            <a href="/" class="logo-name text-lg text-center m-b-20">Spine</a>
                            <p class="text-center m-t-md">@Localizer["Text"]</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>